{% from '_macros.html' import render_field %}
{% from 'modals/modal.html' import modal %}

{% call modal('login-modal') %}
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h3 class="centered"> Login </h3>
            <form class="well" action="{{ url_for('security.login') }}" method="POST">
              {{ login_user_form.hidden_tag() }}
              {{ render_field(login_user_form.email, class='form-control') }}
              {{ render_field(login_user_form.password, class='form-control') }}
              <label class="checkbox">{{ login_user_form.remember()|safe }} Remember me</label>
              <button type="submit" class="btn btn-primary btn-large">Login</button>
            </form>
          </div>
        </div>
        <h4>
          Need an account? <a data-toggle="modal" data-target="#signup-modal">Signup</a>
        </h4>
{% endcall %}

{% call modal('signup-modal') %}
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h3 class="centered"> Signup </h3>
            <form class="well" action="{{ url_for('index.register') }}",  method="POST">
              {{ register_form.hidden_tag() }}
              {{ render_field(register_form.fullname, class='form-control') }}
              {{ render_field(register_form.email, class='form-control') }}
              {{ render_field(register_form.password, class='form-control') }}
              {{ render_field(register_form.confirm, class='form-control') }}
              <button type="submit" class="signup btn btn-primary btn-large">Signup</button>
            </form>
          </div>
        </div>
        <h4>
          Already have an account? <a data-toggle="modal" data-target="#login-modal">Login</a>
        </h4>
{% endcall %}
