a {
    color: #279B27
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: rgba(255,255,255,0.75);
    background-image: url(/static/images/mirror-park.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.modal {
    color: rgba(0,0,0,0.7);
}

.panel-default {
    margin-bottom: 0px;
}

.panel {
    padding: 5px;
    border: none;
    background-color: transparent;
}


.panel-heading {
    color: rgba(44, 179, 190, 1) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    padding: 5px;
    text-align: left;
    border: none;
}

.panel-body {
    padding: 5px;
    text-align: left;
}

#header {
    background-color: rgba(0,0,0,0.8);
    border-color: transparent;
    color: rgba(44, 179, 190, 1);
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    padding: 20px 0;
    z-index: 1;
}

#home {
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 180px 0px 130px;
    text-align: center;
    z-index:0;
}

#chat {
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 120px 0;
    text-align: center;
}

#chat-text {
    overflow: auto;
    height: 500px;
}

#footer {
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
    clear: both;
    margin: 300px 0 0 0;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    padding: 20px 0 20px;
}

/* IE 6 */
* html #footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}