#intro {
    background-color: rgba(0,0,0,0.0);
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 100px rgba(145,187,215,0.8);
    padding: 40px 0;
    color: #333;
}

#home {
    background: url(/static/images/mirror-park.jpg) 100% 0 fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(145,187,215,0.8);
    padding: 300px 0;
    text-align: center;
}

a {
    color: rgba(0,0,0,0.5);
}

body {
    font-size: 14pt;
    color: rgba(255,255,255,0.75);
}

#about {
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0;
    color: #333;
}