{% extends 'base.html' %}

{% block body %}

<section id="header" data-type="background">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><h3> Flask Chat </h3></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
</section>

<section id="chat" data-type="background">
  <div id="chat-text">
  </div>
</section>

<section id="footer">
  <div class="container">
    <form id="input-form" class="form-inline">
      <div class="form-group">
        <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus />
      </div>
      <div class="form-group">
        <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
</section>

{% endblock %}

{% block footer_js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/reconnecting-websocket.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
{% endblock %}
