{% extends 'base.html' %}

{% block body %}

{% if user %}
  {% include "modals/profile.html" %}
{% else %}
  {% include "modals/login_signup.html" %}
{% endif %}
{% if show_modal == 'register' %}
  {% include "modals/register.html" %}
{% endif %}

<!-- Section 1 -->
<section id="intro" data-speed="6" data-type="background">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><h3> Mirror Park </h3></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if user %}
      <li><a data-toggle="modal" data-target="#profile-modal">Profile</a></li>
      <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
    {% else %}
      <li><a data-toggle="modal" data-target="#login-signup-modal">Log in/Register</a></li>
    {% endif %}
    </ul>
  </div>
</section>
<!-- Section 2 -->
<section id="home" data-speed="4" data-type="background">
  <div class="container">
      The app fresh you wish you'd thought of it first.
  </div>
</section>
<!-- Section 3 -->
<section id="about" data-speed="2" data-type="background">
  <div class="container">
    <h4>Mirror Park Example Flask App by Erik Taubeneck</h4>
  </div>
</section>

{% endblock %}
